<%- include('partials/head')%>
    <div class="nav-container">
        <a href="/">Homepage</a> |
        <!-- <a href="/tocreatecategory"> Enter New Category</a> |
        <a href="/todeletecategory"> Delete Category</a> |
        <a href="/tocreatecategory"> Update Category</a> | -->

        <!-- <a href="/category/<%=category._id%>/new-item">New Item</a> -->
    </div>
    <div class="category-detail-container">
        <h1>
            <%= category.Name %>
        </h1>
        <div class="category-list-container">
            <% if (category.length === 0 ) { %>
                <p>No items</p>
            <% } %>
            <ul class="category-list">
                <% category.map((value) => { %>
                    <li class="category-list-items">
                        <p class="category-Id">_ID   :<%= value._id %></p>
                            <p class="category-name">NAME   :<%= value.Name %></p>
                            <p class="category-description">DESCRIPTION  :<%= value.Description %></p>
                                <p class="category-joinDate">JOINDATE   : $<%= value.joinDate %></p>
                                <p class="category-updateDate">UPDATEDATE   : <%= value.updateDate %></p>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
  </body>
</html>
<!-- 
<html>
    <head>
    </head>
    <body>
        <H1>get category page</H1>
        <% category.map((value) => {%>
            <p><%= value.Name %></p>
            <p><%= value.Description %></p>
            <p><%= value.joinDate %></p>
            <p><%= value.updateDate %></p>
         <% }) %>   
    </body>
</html> -->